nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: skyblue;
    display: flex;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    color: white;
    text-align: center;
    padding: 15px 0;
}

nav ul li{
    position: relative;
    border-left: 2px dotted skyblue;
    border-right: 2px dotted skyblue;
}

nav ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 15px;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: deepskyblue;
}

/* DROPDOWN */

.dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: skyblue;
    min-width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu li{
    width: 100%;
    border: none;
}

.dropdown-menu li a{
    padding: 10px 15px;
}

.dropdown-menu li a:hover{
    background-color: deepskyblue;
}
